body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-weight: thin 100;
    width: 100%;
}



header{
    background-color: #fce4d8;
    opacity: 0.8;
    text-align: center;
}

header h1{
    letter-spacing: 1px;
    margin-bottom: 0;
}

header p{
    margin-top: 0;
}

header img{
    border-radius: 50%;
}

main ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

main ul li{
    background-color: #fce4d8;
    border: 2px solid #ffffff;
    border-radius: 10%;
    text-align: center;
    margin: 10px;
}

main ul li:hover{
    border: 2px dotted #ffffff;
}

main ul li a{
    padding: 50px;
    text-decoration: none;
    color: #000000;
    display: block;
    font-weight: bold;
}

main ul li:hover a{
    color: #ffffff;
}

.footer {
    background-color: #fce4d8;
}
